{% extends 'exercices/template2.html.twig' %}

{% block exo %}
<div id="exercice">
    <div class="blank_3"></div>
    <div><p class="center big_element">5452</p></div>
    <div class="blank_3"></div>
    <div>
        <ul class="flex">
            <li class="input_legend"><input class="blank arround1"> Unités</li>
            <li class="input_legend"><input class="blank arround1"> Dizaines</li>
            <li class="input_legend"><input class="blank arround1"> Centaines</li>
            <li class="input_legend"><input class="blank arround1"> Milliers</li>
        </ul>
    </div>
    <div class="blank_6">

    </div>
    <div id="actions">
        <div class="action_button">
            <button id="checkButton" class="button_large">Vérifier</button>
            <button id="nextButton" class="button_large">Continuer</button>
        </div>
    </div>
</div>
{% endblock %}
