{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block stylesheets %}
        {{ parent() }}
        <link href="./css/default/dashboard.css" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    {% if registration == true %}<p class="message">Votre enfant peut maintenant se connecter</p>{% endif %}
    <div>
        <h1 class="title">Bienvenue dans tableau de bord !</h1>
    </div>

    <div>
        <h2>Actions</h2>
        <ul>
            <li class="action_button"><a href="/parent/enfants/ajout">+ Ajouter un enfant</a></li>
        </ul>
    </div>

</main>
{% endblock %}
