{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block body %}
<main>
    <div>
        Bienvenue dans votre Dashboard parent
    </div>
</main>
{% endblock %}
