{% extends 'base.html.twig' %}

{% block title %}Hello ParentController!{% endblock %}

{% block body %}
<main>
    <div>
        Bienvenue dans votre Dashboard parent
    </div>
    <div><a href="/parent/enfants/ajout">Ajouter un enfant</a></div>
</main>
{% endblock %}
