{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous - Koko le Koala{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="./css/default/main.css" rel="stylesheet">
    <link href="./css/default/page.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <main>
        <h1 class="title">Qui sommes-nous ?</h1>
        <p>Nous sommes un groupe d'étudiants en 2ème année de licence informatique.</p>

        <p>Notre projet Koko le Koala a pour but d'apporter un soutien scolaire aux enfants du cycle 2 (CP, CE1, CE2) et du cycle 3 (CM1, CM2, 6ème), ce soutien se présente sous la forme d'exercices afin de compléter ce qui est proposé par leurs enseignants à l'école.</p>
        <p>L'idée de Koko le Koala est sortie d'un constat que les sites de soutien scolaire n'était pas assez adaptés pour les enfants, pas assez intuitifs... Nous avons donc décidé de créer une plateforme que les parents et les enfants peuvent comprendre et utiliser en toute facilité.</p>

        <p>A l'heure actuelle, le site est encore en plein épanouissement et ne dispose que d'exercices de mathématiques, et plus particulièrement de la notion "Calculs et nombres". Il est prévu de s'ouvrir aux autres notions dans un futur proche, et nous souhaitons aussi nous ouvrir aux autres matières enseignées à l'école dans un futur plus lointain.</p>
    </main>
{% endblock %}
